* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
	font-family: "open sans", sans-serif;
}

nav, li {
	
	display: inline-block;
	position: sticky;
	top: 0px;
	max-height: 30px;
	word-spacing: 10px;
}

nav {
width: 100%;
display: inline-block;
background: white;
padding-left: 50px;
margin-top: 30px;
padding-right: 50px;
min-height: 40px;
}



#logo {
	display: inline-block;
	float: left;
	
}

.right-nav { 
	
	float: right;
	font-weight: 600;
	
	 }




 .tuitt-button { 
 				color:white;
				background:#c2195b;
				border-color: transparent;
				border-width: .7rem;
				border-radius: 1rem;
				margin-top: -2rem;
				font-weight: 600;
				}

#bg-image{
	min-height: 60vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-color: scroll;
	background-size: 100%;
	margin-top: 60px;
	background-position: center;
}	

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 60vh;
}

.container {
		color: white;
		padding-top: 2rem;
		padding-bottom: 3rem;
		text-align: right;
		display: inline-block;
		max-width: 50%;
   		margin: 0 auto;
  		float: right;
   		
	}

.title { 
				display: inline-block;
				font-family: 'Zilla Slab', serif;
				font-size: 300%;
				margin-right: 10%;
				}


.subtitle {
				font-weight: 200;
				font-size: 120%;
				max-width: 100%;
				text-align: right;
				padding-top: 2rem;
				margin-right: 10%;
				height: 100%;
				padding-left: 30%;
}

.apply-button {
				
				display: inline-block;
				color:white;
				background:#c2195b;
				background-size: 1.2rem;
				border-color: transparent;
				border-width: 50px;
				font-weight: 600;
				border:0;
   				border-radius: 25px;
    			min-height: 40px;
    			min-width: 100px;
    			margin-right: 10%;
    			margin-top: 20px;

    			
}


.intro {
	margin-top: 5rem;
	
}

.title-2 {
	
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;
	text-align: center;
	float: center;
	padding-top: 5%;

}
.intro-description {
	
	margin-top: 50px;
	text-align: center;
	width: 55%;
	float: center;
	margin-left: 22%;
	font-size: 80%;
}

.title-3{
		font-family: Times New Roman;
		margin-top: 50px;
		font-size: 2rem;
		text-align: center;
		float: center;

}

.prefooter-description {
		margin-top: 50px;
		text-align: center;
		width: 55%;
		float: center;
		margin-left: 22%;
		font-size: 80%;
}

.book-button {
				display: inline-block;
				color:white;
				background:#336589;
				background-size: 1.2rem;
				border-color: transparent;
				border-width: 50px;
				font-weight: 600;
				border:0;
   				border-radius: 25px;
    			min-height: 40px;
    			width: 10%;
    			margin-left: 45%;
    			margin-top: 30px;
    		}
 
.pre-footer {
	background: #f7fbfb;
}



footer 	{
			text-align: center;
			float: center;
		
			font-size: 80%;
			padding-top: 50px;
}